Repository sprinteins/oscd-plugins, pull requests merged in 2025-04, with the labels that each got.

#410 [FEATURE]: Delete LCs
  packages/core/ui-svelte/src/lib/headless/actions/useInitPlugin.svelte.ts
  packages/core/ui-svelte/src/lib/headless/actions/useInitSsdTemplate.svelte.ts
  packages/core/ui-svelte/src/lib/ui/custom/wrong-file-loaded.svelte
  packages/core/ui-svelte/src/lib/ui/shadcn-workaround/select.workaround.svelte
  packages/plugins/io-center/CHANGELOG.md
  packages/plugins/io-center/package.json
  packages/plugins/io-center/src/command.svelte.ts
  packages/plugins/io-center/src/headless/constants/constants.ts
  packages/plugins/io-center/src/headless/stores/ied-tree/guards.helper.ts
  packages/plugins/io-center/src/headless/stores/ied-tree/ied.helper.ts
  packages/plugins/io-center/src/headless/stores/ied-tree/store.svelte.ts
  packages/plugins/io-center/src/headless/stores/ied-tree/tree-helpers.ts
  packages/plugins/io-center/src/headless/stores/ied-tree/types.d.ts
  packages/plugins/io-center/src/headless/stores/index.ts
  packages/plugins/io-center/src/headless/stores/plugin-local.svelte.ts
  packages/plugins/io-center/src/headless/stores/types.d.ts
  packages/plugins/io-center/src/headless/utils/utils.ts
  packages/plugins/io-center/src/ied/data-object.ts
  packages/plugins/io-center/src/ied/ied-command.ts
  packages/plugins/io-center/src/ied/ied-select.svelte
  packages/plugins/io-center/src/ied/ied.ts
  packages/plugins/io-center/src/ied/object-tree.type.d.ts
  packages/plugins/io-center/src/plugin.svelte
  packages/plugins/io-center/src/query.svelte.ts
  packages/plugins/io-center/src/sidebar-left.svelte
  packages/plugins/io-center/src/store.svelte.ts
  packages/plugins/io-center/src/ui/components/canvas/add-lc-dialog.svelte
  packages/plugins/io-center/src/ui/components/canvas/canvas-area.svelte
  packages/plugins/io-center/src/ui/components/canvas/canvas-store.svelte.ts
  packages/plugins/io-center/src/ui/components/common/search-bar.svelte
  packages/plugins/io-center/src/ui/components/left-sidebar/ied-tree.svelte
  packages/plugins/io-center/src/ui/components/object-tree/object-tree.svelte
  packages/plugins/io-center/src/ui/components/object-tree/tree-node.svelte
  packages/plugins/io-center/src/ui/components/object-tree/types.object-tree.d.ts
  packages/plugins/io-center/src/ui/components/object-tree/utils.ts
  packages/plugins/io-center/src/ui/components/right-bar/lc-list/lc-list.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lp-list/lp-element.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lp-list/lp-list.svelte
  packages/plugins/io-center/src/ui/layout.svelte
  packages/plugins/type-designer/src/plugin.svelte
  pnpm-lock.yaml
Labels: Epic: I/O Center

#414 UX Adjustments IO Center
  packages/plugins/io-center/src/ui/components/canvas/add-lc-dialog.svelte
  packages/plugins/io-center/src/ui/components/canvas/canvas-area.svelte
  packages/plugins/io-center/src/ui/components/canvas/node-element.svelte
  packages/plugins/io-center/src/ui/components/common/filter-buttons.svelte
  packages/plugins/io-center/src/ui/components/common/types.common.d.ts
  packages/plugins/io-center/src/ui/components/right-bar/lc-list/lc-element.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lc-list/lc-list.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lp-list/create-lp-dialog.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lp-list/lp-element.svelte
  packages/plugins/io-center/src/ui/components/right-bar/lp-list/lp-list.svelte
Labels: Epic: I/O Center, Kind: Feature

#449 Fix: Images cut
  packages/plugins/auto-doc/CHANGELOG.md
  packages/plugins/auto-doc/package.json
  packages/plugins/auto-doc/src/utils/pdfGenerator.ts
Labels: Epic: AutoDoc, Kind: Bug

#453 Fix: Open SCD in overview
  packages/plugins/auto-doc/CHANGELOG.md
  packages/plugins/auto-doc/package.json
  packages/plugins/auto-doc/src/pages/template-creation/template-creation.svelte
Labels: Epic: AutoDoc, Kind: Bug
